<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">   
      <ion-button color="primary" slot="start" (click)="this.modalController.dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="primary" slot="end" (click)="deletePost()">
        <ion-icon slot="icon-only" name="trash" ></ion-icon>
      </ion-button>
      <ion-button color="primary" slot="end" (click)="saveData()">
        <ion-icon slot="icon-only" name="save"></ion-icon>
      </ion-button>   
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="content">
    <form class="example-form">
      <mat-form-field class="full-width" appearance="outline" >
        <mat-label>Title</mat-label>
        <input matInput placeholder="Ex. Lorem Ipsum Dolor" [(ngModel)]="post.title" [ngModelOptions]="{standalone: true}">
      </mat-form-field>
    
      <mat-form-field class="full-width" appearance="outline" >
        <mat-label>Body</mat-label>
        <textarea matInput placeholder="Ex. It makes me feel..." [(ngModel)]="post.body" [ngModelOptions]="{standalone: true}"></textarea>
      </mat-form-field>
    </form>
  </section>
  <ion-fab (click)="saveData()" vertical="bottom" color="primary" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="save"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
