<ion-content>
  <section class="items" *ngIf="photos.length > 0" >
    <ion-card class="cursor-pointer" *ngFor="let photo of photos" [routerLink]="'photo/' + photo.id" >
      <ion-card-header>
        <ion-card-subtitle>{{photo.title | titlecase}}</ion-card-subtitle>
      </ion-card-header>
      <img [src]="photo.url">
    </ion-card>
  </section>
  <section class="exqueleton" *ngIf="photos.length <= 0">
    <ion-card class="cursor-pointer" *ngFor="let item of counts" >
      <ion-card-header>
        <ion-card-title><ion-skeleton-text animated style="width: 40%"></ion-skeleton-text></ion-card-title>
      </ion-card-header>
    </ion-card>
  </section>
</ion-content>
